/.idea/
/vendor/

/build/*
!build/.gitkeep

/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/bin/*
!bin/console

/web/bundles/
/web/uploads/
/web/.htaccess
