{% extends 'base.html.twig' %}

{% block title parent() ~ '::Index' %}

{% block body %}
    <div class="container">
        <h1>Welcome to Default::index.html</h1>
        <hr>
    </div>
{% endblock body %}
